---
import { ViewTransitions } from "astro:transitions";
import { SoundForm, sound } from "../components/SoundForm.tsx";

const { R2 } = Astro.locals.runtime.env;
const soundRequest = await Astro.locals.form.getData(sound);

let key: string | undefined;
if (soundRequest?.data) {
  const { audioFile } = soundRequest.data;

  await R2.put(audioFile.name, await audioFile.arrayBuffer());
  key = audioFile.name;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>Astro</title>
  </head>
  <body>
    <h1>WOMP</h1>
    <SoundForm client:load />
    {
      key && (
        <audio controls>
          <source src={`/audio/${key}`} type="audio/mpeg" />
        </audio>
      )
    }
  </body>
</html>
