---
import { ViewTransitions } from "astro:transitions";
import { SoundForm, sound } from "../components/SoundForm.tsx";

const soundRequest = await Astro.locals.form.getData(sound);

console.log(soundRequest);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>Astro</title>
  </head>
  <body>
    <h1>WOMP</h1>
    <SoundForm client:load />
  </body>
</html>
