---
type Props = {
  title?: string;
};

const { title = "WOMP" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="dark:bg-gray-950 dark:text-white min-h-screen flex flex-col">
    <slot />
  </body>
</html>
